{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "mocha": true,
    "mongo": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "accessor-pairs": "warn",
    "array-bracket-spacing": ["error", "never", {"singleValue": false}],
    "array-callback-return": "warn",
    "arrow-body-style": "warn",
    "arrow-parens": "warn",
    "arrow-spacing": "warn",
    "camelcase": ["error", { "properties": "never" }],
    // "consistent-return": "warn",
    "curly": ["error", "all"],
    "default-case": "warn",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "handle-callback-err": "error",
    "indent": ["error", 2],
    "keyword-spacing": ["error", {}],
    "max-len": ["error", 200],
    "no-const-assign": "error",
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multi-str": "error",
    "no-multiple-empty-lines": "error",
    "no-redeclare": ["error", { "builtinGlobals":  false }],
    "no-sync": "warn",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unused-vars": "warn",
    "no-unused-expressions": "warn",
    "no-use-before-define": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "operator-linebreak": ["error", "after"],
    "prefer-arrow-callback": "warn",
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "require-await": "warn",
    // "require-atomic-updates": "error",
    "space-infix-ops": ["error", { "int32Hint": false }],
    "space-in-parens": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "space-unary-ops": ["error", {"nonwords":  false, "overrides":  {} }],
    "use-isnan": "warn",
    "vars-on-top": "warn",
    "wrap-iife": "warn"
  }
}
